html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

svg {
    position: relative;
    /*border: 1px solid black;*/
}

path {
    stroke-width: 2px;
    opacity: .2;
}

.travelMarker {
    fill: yellow;
    opacity: .75;
}

.waypoints {
    fill: black;
    opacity: 0;
}

.subway .lineConnect {
    stroke: green;
}

.car .lineConnect {
    stroke: purple;
}

.airplane .lineConnect {
    stroke: red;
}

.bus .lineConnect {
    stroke: yellow;
}

.lineConnect {
    fill: none;
}
